<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testfest.chartanalysis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ChartLibraryListActivity"
            android:label="@string/title_activity_main" >

        </activity>

        <activity
            android:name=".AChartEngineCharts"
            android:label="@string/title_activity_achart_engine_charts"> 

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DroidPlotCharts"
            android:label="@string/title_activity_droidplot_charts" />
    </application>

</manifest>